<br><br><br><br><br><br>
<footer id="dk-footer" class="dk-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-lg-4">
              <div class="dk-footer-box-info">
                  <a href="index.html" class="footer-logo">
                      <img src="../../static/img/elherbario_logo.svg" alt="footer_logo" class="img-fluid">
                  </a>
                  <p class="footer-info-text">
                      
                  </p>
                  <div class="footer-social-link">
                      <h3>Siguenos en </h3>
                      <ul>
                          <li>
                              <a href="#">
                                  <i class="fa fa-facebook"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="#">
                                  <i class="fa fa-instagram"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <!-- End Social link -->
              </div>
              <!-- End Footer info -->
              <div class="footer-awarad">
                  <p>El Herbario</p>
              </div>
          </div>
          <!-- End Col -->
          <div class="col-md-12 col-lg-8">
              <div class="row">
                  <div class="col-md-6">
                      <div class="contact-us">
                          <div class="contact-icon">
                              <i class="fa fa-volume-control-phone" aria-hidden="true" style="--fa-primary-color: gold;"></i>
                          </div>
                          <!-- End contact Icon -->
                          <div class="contact-info">
                              <h3>Haz tu reserva</h3>
                              <p>3045887410
                                  <br>
                                  4458875
                              </p>
                          </div>
                          <!-- End Contact Info -->
                      </div>
                      <!-- End Contact Us -->
                  </div>
                  <!-- End Col -->
                  <div class="col-md-6">
                      <div class="contact-us contact-us-last">
                          <div class="contact-icon">
                              <i class="fa fa-map-o" aria-hidden="true"></i>
                          </div>
                          <!-- End contact Icon -->
                          <div class="contact-info">
                              <h3>Encuentranos en</h3>
                              <p>Cl. 9 #39-2 a 39-32 El Poblado Medellín, Antioquia</p>
                          </div>
                          <!-- End Contact Info -->
                      </div>
                      <!-- End Contact Us -->
                  </div>
                  <!-- End Col -->
              </div>
              <!-- End Contact Row -->
              <div class="row">
                  <div class="col-md-12 col-lg-6">
                      <div class="footer-widget footer-left-widget">

                      </div>
                  </div>
                  <!-- End col -->
                  <div class="col-md-12 col-lg-6">
                      <div class="footer-widget">
                          <p>
                              <iframe
                                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.414949144054!2d-75.57240928418686!3d6.2088733162141105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44282989a1dda9%3A0xfa053874919ef65d!2sCl.%209%20%2339-2%20a%2039-32%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20El%20Poblado%2C%20Medell%C3%ADn%2C%20Antioquia!5e0!3m2!1ses-419!2sco!4v1667112904045!5m2!1ses-419!2sco"
                                  allowfullscreen="" loading="lazy"
                                  referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </p>
                      </div>
                      <!-- End footer widget -->
                  </div>
                  <!-- End Col -->
              </div>
              <!-- End Row -->
          </div>
          <!-- End Col -->
      </div>
      <!-- End Widget Row -->
  </div>
  <!-- End Contact Container -->


  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-6 text-center">
                  <span>Copyright © 2022, All Right Reserved El Herbario</span>
              </div>
              <!-- End Col -->
              <div class="col-md-6">
                  <div class="copyright-menu">
                      <ul>
                          <li>
                              <a href="#">Inicio</a>
                          </li>
                          <li>
                              <a href="#">Platos</a>
                          </li>
                          <li>
                              <a href="#">Empelados</a>
                          </li>
                          <li>
                              <a href="#">Contact</a>
                          </li>
                      </ul>
                  </div>
              </div>
              <!-- End col -->
          </div>
          <!-- End Row -->
      </div>
      <!-- End Copyright Container -->
  </div>
  <!-- End Copyright -->
  <!-- Back to top -->
  <div id="back-to-top" class="back-to-top">
      <button class="btn btn-dark" title="Back to Top" style="display: block;"onclick="topFunction()" id="myBtn">
          <i class="fa fa-angle-up"></i>
      </button>
  </div>